{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!--============= Header Section Ends Here =============-->
    <section class="page-header single-header bg_img oh" data-background="{% static 'news/images/page-header.png' %}">
        <div class="bottom-shape d-none d-md-block">
            <img src="{% static 'news/css/img/page-header.png' %}" alt="css">
        </div>
    </section>
    <!--============= Header Section Ends Here =============-->


    
    <!--============= Contact Section Starts Here =============-->
    <section class="contact-section padding-top padding-bottom">
        <div class="container">
            <div class="section-header mw-100 cl-white">
                <h2 class="title">Talk to us</h2>
                <p>For any query or booking you can get in touch with us</p>
            </div>
            <div class="row justify-content-center justify-content-lg-between">
                <div class="col-lg-7">
                    <div class="contact-wrapper">
                        <h4 class="title text-center mb-30">Talk to us</h4>
                        <form method="POST" class="contact-form" id="contact_form_submit">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="name">Your Full Name</label>
                                <input type="text" placeholder="Enter Your Full Name" id="names" name="names" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <input type="text" placeholder="Enter Your Phone Number "  name="phone" id="phone" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Your Email </label>
                                <input type="text" placeholder="Enter Your Email " id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="subject">Your Subject</label>
                                <input type="text" placeholder="Enter Your Subject " name="subject" id="subject" required>
                            </div>
                            <div class="form-group mb-0">
                                <label for="message">Your Message </label>
                                <textarea id="message" name="message" placeholder="Enter Your Message" required></textarea>
                                <div class="form-check">
                                    <input type="checkbox" id="check" checked><label for="check">I agree to receive emails, newsletters and promotional messages</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Send Message">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-content">
                        <div class="man d-lg-block d-none">
                            <img src="{% static 'news/images/contact/man.png' %}" alt="bg">
                        </div>
                        <div class="section-header left-style">
                            <h3 class="title">Have questions?</h3>
                            <p>Have questions about our services and organization ?
                                We have answers for you!</p>
                            <a href="#0">Read F.A.Q <i class="fas fa-angle-right"></i></a>
                        </div>
                        <div class="contact-area">
                            <div class="contact-item">
                                <div class="contact-thumb">
                                    <img src="{% static 'news/images/contact/contact1.png' %}" alt="contact">
                                </div>
                                <div class="contact-contact">
                                    <h5 class="subtitle">Email Us</h5>
                                    <a href="info@example.com">info@example.com</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-thumb">
                                    <img src="{% static 'news/images/contact/contact2.png' %}" alt="contact">
                                </div>
                                <div class="contact-contact">
                                    <h5 class="subtitle">Call Us</h5>
                                    <a href="Tel:+254 715073720">+254 715073720</a>
                                    <a href="Tel:+254 715073720">+254 715073720</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-thumb">
                                    <img src="{% static 'news/images/contact/contact3.png' %}" alt="contact">
                                </div>
                                <div class="contact-contact">
                                    <h5 class="subtitle">Visit Us</h5>
                                    <p>5th floor Jewel complex, Nairobi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Contact Section Ends Here =============-->


    <!--============= Map Section Starts Here =============-->
    <div class="map-section padding-bottom-2">
        <div class="container">
            <div class="section-header">
                <div class="thumb">
                    <img src="{% static 'news/images/contact/earth.png' %}" alt="contact">
                </div>
                <h3 class="title">We Are Easy To Find</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="">

                        <div class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d646.6228495406937!2d36.889585803684014!3d-1.219219693670965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f158b2e9325ff%3A0x6a75b6824f113040!2sJewel%20Complex!5e0!3m2!1sen!2ske!4v1622616638244!5m2!1sen!2ske" width="950" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--============= Map Section Ends Here =============-->


    <!--============= Do Section Starts Here =============-->
    <div class="do-section padding-bottom padding-top-2">
        <div class="container">
            <div class="row mb-30-none justify-content-center">
                <div class="col-md-6">
                    <div class="do-item cl-white">
                        <h3 class="title">About Us</h3>
                        <p>Find more about us and services we offer</p>
                        <a href="about.html"><i class="fas fa-angle-left"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="do-item cl-white">
                        <h3 class="title">Partners</h3>
                        <p>Mwangaza Tv has parteners</p>
                        <a href="  "><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--============= Do Section Ends Here =============-->
    

{% endblock %}
