{% extends 'base.html' %}
{% load static %}

{% block content %}





<!--============= Header Section Ends Here =============-->
    <section class="page-header bg_img" data-background="{% static 'news/images/page-header.png' %}">
        <div class="bottom-shape d-none d-md-block">
            <img src="{% static 'news/css/img/page-header.png' %}" alt="css">
        </div>
        <div class="container">
            <div class="page-header-content cl-white">
                <h2 class="title">Questions & Answers</h2>
                <ul class="breadcrumb">
                    Mwangaza TV

                </ul>
            </div>
        </div>
    </section>
    <!--============= Header Section Ends Here =============-->



    <!--============= Faqs Section Starts Here =============-->
    <section class="faq-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <aside class="sticky-menu">
                        <div class="faq-menu bg_img mb-30" data-background="{% static 'news/images/faq/faq-menu.png' %}">
                            <ul id="faq-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#get">Getting Started</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#how">How Mosto works</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#plugin">Plugins</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pricing">Pricing Plans</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#update">Updating the App</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#security">Security</a>
                                </li>
                            </ul>
                        </div>
                        <div class="faq-video">
                            <a href="https://www.youtube.com/watch?v=ObZwFExwzOo" class="video-area popup">
                                <img src="{%static 'news/images/faq/video.png' %}" alt="faq">
                                <div class="video-button-2">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <i class="flaticon-play"></i>
                                </div>
                            </a>
                            <h5 class="title">Watch Video Tour</h5>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-8 col-xl-7">
                    <article class="mt-70 mt-lg-0">
                        <div class="faq--wrapper" id="get">
                            <h3 class="main-title">Getting Started</h3>
                            <div class="faq--area">
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">Who is Mosto for?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How do I get the Mobile App for my phone?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">What features does the Mobile App have?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq--wrapper" id="how">
                            <h3 class="main-title">How Mosto works</h3>
                            <div class="faq--area">
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">What’s special about Mosto?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">What problem does Mosto solve?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How does Mostos differ from usual apps?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">More about early access</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq--wrapper" id="plugin">
                            <h3 class="main-title">Plugins</h3>
                            <div class="faq--area">
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How does integration works?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item open active">
                                    <div class="faq-title">
                                        <h6 class="title">How to use Mosto API?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How do plugins work?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq--wrapper" id="pricing">
                            <h3 class="main-title">Pricing Plans</h3>
                            <div class="faq--area">
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How much does Mosto cost?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How I can get Mosto for free?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">Can I cancel my account plan at any time?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq--wrapper" id="update">
                            <h3 class="main-title">Updating the App</h3>
                            <div class="faq--area">
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How can I edit my personal information?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How do I disable installed apps?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How do I disable installed apps?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq--wrapper" id="security">
                            <h3 class="main-title">Security</h3>
                            <div class="faq--area">
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How do I switch to a different price plan?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">How can I get my money back?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                                <div class="faq--item">
                                    <div class="faq-title">
                                        <h6 class="title">What about the security of my payments?</h6>
                                        <span class="icon"></span>
                                    </div>
                                    <div class="faq-content">
                                        <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!--============= Faqs Section Ends Here =============-->






{% endblock %}